<row class="container-fluid box5 card">
    <h2 class="card-title removeHref">{{user.realName}}</a></h2>
    <p class="meta">{{formatDate postTimestamp}}</p>
      
      <ul>
        <li><b>Artist:</b> {{artistName}}</li>
        <li><b>Song Title:</b> {{songTitle}}</li>
        <li><b>Genre:</b> {{genre}}</li>
        <li><b>Youtube URL:</b><a href="{{youtubeUrl}}"></a> {{youtubeUrl}}</a></li>
        <li><b>Review:</b> {{review}}</li>
      </ul>

      <div>
          <a type="submit" class="btn btn-md btn-info" value="View" href="/post/{{id}}"> View Review</a>
      </div>
{{#each comments}}
{{> comment this}}
{{/each}}
</row> 