<row class="container-fluid box5 card">
        <h2 class="card-title"><a href="/post/{{id}}">{{user.realName}}</a></h2>
        <p class="meta">{{formatDate postTimestamp}}</p>
          
          <ul>
              <li><b>Artist:</b> {{artistName}}</li>
              <li><b>Song Title:</b> {{songTitle}}</li>
              <li><b>Genre:</b> {{genre}}</li>
              <li><a href="{{youtubeUrl}}"><b>Youtube URL:</b> {{youtubeUrl}}</a></li>
          </ul>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <div class="text-center"> 
            <button class="btn2">Add Comment</button>
        </div>
</row> 